.button {
    display: inline-flex;
    padding: 1em 2em;
    border-radius: 1em;
    cursor: pointer;
    user-select: none;
    border: none;
    background: #ddd;
}

.button[data-theme='primary'] {
    background-color: black;
    color: #fff;
}

.button[data-status='disabled'] {
    opacity: 0.6;
    pointer-events: none;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
